<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="ru.cobra.zap.afrd.gui">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
                 android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true"
                 tools:ignore="GoogleAppIndexingWarning" android:theme="@style/AppTheme">

        <activity android:name="ru.cobra.zap.afrd.gui.MainActivity" android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="ru.cobra.zap.afrd.gui.ActionActivity">
            <intent-filter>
                <action android:name="ru.cobra.afrd.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ru.cobra.afrd.STOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="ru.cobra.zap.afrd.gui.BootCompleteReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <service android:name="ru.cobra.zap.afrd.gui.AFRService" android:enabled="true" android:exported="false" />
    </application>

</manifest>